@using Debugger_Project.ViewModels
@using Debugger_Project.Helpers

@model IEnumerable<MemberViewModel>

<style>
    .avatar{
        max-height: 30px;
        max-width:30px;
    }
</style>

@{ 
    var roleHelper = new UserRolesHelper();
}

<h2>UserIndex</h2>

<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Avatar")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="avatar">
                    <img src="@user.AvatarUrl" height="20" width="20" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.DisplayName)
                </td>
                <td>
                    @roleHelper.ListUserRoles(user.Id).FirstOrDefault()  
                </td>
                <td>
                    @Html.ActionLink("Manage Role", "ManageUserRole", "Admin", new { userId = user.Id }, null) |
                    @Html.ActionLink("Manage Projects", "ManageProjects", "Admin", new { userId = user.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back To DashBoard", "Dashboard", "Home")