@model IEnumerable<Debugger_Project.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>    
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <pre style="background-color: blanchedalmond; font-weight: bolder; font-size:large">@item.Created.ToString("MMM d, yyyy")</pre>
        </td>
        <td>
            <pre style="background-color: blanchedalmond; font-weight: bolder; font-size:large">@Html.DisplayFor(modelItem => item.Subject)</pre>
        </td>
        <td>
            <pre style="background-color: blanchedalmond; font-weight: bolder; font-size:large">@item.NotificationBody</pre>
        </td>

    </tr>
 }

</table>
